[:find (pull ?b [:db/id 
                 :block/content
                 :block/uuid
                 {:block/page [:block/original-name :db/id]}
                 :block/children
                ])
 :where
 [?r :block/name "pyq/posted"]      
 [?b :block/refs ?r]]
